numpy
pandas
matplotlib
#lazypredict.Supervised  # LazyClassifier
#warnings
Scikit-learn
#sklearn.feature_extraction.text  # TfidfVectorizer
flask
flask-cors
pyYAML
types-PyYAML
ensure
joblib
mlflow
notebook
python-box
tqdm
gunicorn
python-dotenv